/ReplayImport/
/Replays/
/Screenshots/
/Skins/
/SongPacks/
/Songs/
/.opsu.log
/.opsu.cfg
/.opsu.db*
/.opsu_scores.db

# Eclipse
/.settings/
/bin/
.metadata
.classpath
.project

# IntelliJ
.idea/
*.iml
*.iws

Thumbs.db
/target
